/* LoginPage.css */

.login-container {
    min-height: calc(100vh - 56px); /* 100vh minus the navbar height */
  }
  
  .signup-form {
    width: 100%;
    max-width: 330px; /* Width of the form */
    padding: 15px;
    margin: auto;
  }
  
  /* Additional styles if needed */
  