@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/* Footer.css */
.footer {
  width: 100%;
  position: relative; /* Adjusted from absolute to relative */
  font-family: 'Roboto', sans-serif;
}


.footer-section {
  /* Use flexbox to align the content */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center-align items horizontally */
  text-align: center; /* Center-align text for good measure */
}

.footer-section h5:not(:first-of-type) {
  margin-top: 20px;
}

.footer-section ul {
  list-style: none; /* Removes bullet points from list */
  padding: 0; /* Removes default padding */
}

.footer-section ul li {
  padding: 5px 0; /* Spacing between list items */
}
  
  .footer-section svg {
    fill: #FFFFFF; /* Setting the color of SVG icons */
    margin-right: 10px; /* Spacing between icons */
    width: 30px; /* Icon width */
    height: auto; /* Auto height to maintain aspect ratio */
  }
  
  @media (max-width: 768px) {
    .footer-section {
      text-align: center; /* Center content on small screens */
      margin-bottom: 20px; /* Spacing between sections */
    }
  }
  
  .download-icons, .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px; /* Add some space below each icon group */
  }