/* NavigationBar.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-color: #7749F8;
  --primary-color-hover: #2d00a9;
  --navbar-text-color: #fff;
}

.navbar {
  background-color:  #7749F8 !important;
  color: var(--navbar-text-color) !important;
  position: fixed;
  width: 100%;
  z-index: 1050; /* Ensures navbar stays on top */
}

.navbar-brand,
.navbar-nav .nav-link {
  color: var(--navbar-text-color) !important;
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
  color: var(--primary-color-hover) !important;
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 0; /* Reduce padding to save space */
    text-align: center;
    z-index: 1050;
  }

  .navbar-brand,
  .navbar-nav .nav-link {
    margin: 5px 0;
  }

  .full-width-on-small {
    width: 100%;
  }

  .ms-lg-auto{
    width: 100%;
  }
}

/* Additional styles for the navbar if any */
