/* ReservationForm.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
  --primary-color:#7749F8 ;
  --primary-color-hover: #2d00a9;
}

.form-element {
  z-index: 1; /* or 'auto' if you don't need to set a specific z-index */
}

.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.btn-primary:hover {
  background-color: var(--primary-color-hover) !important;
  border-color: var(--primary-color-hover) !important;
}

.btn-outline-primary {
  width: auto;
  margin-top: 1rem;
  color: var(--primary-color);
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.areYouASection {
  margin-top: 10rem;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .areYouASection {
    position: static;
    width: 100%;
    padding: 20px 0;
    text-align: center;
  }
}

/* Additional styles for the form if any */
